.menu-header{
    padding-top: 24px;
    text-align: center;
}

.menu-text{
    > h1 {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }    
}

.hide-header-text{
   opacity:0;
   height: 0px;  
}



.assignement-header {
    display: flex;
    align-items: center;
    font-size: 2rem; /* Ajustez la taille de la police selon vos besoins */
  }
  
  .assignement-header .fa-graduation-cap {
    margin-right: 10px; /* Espace entre l'icône et le texte */
    color: #000; /* Couleur de l'icône */
  }
  