<div class="menu-header">
    <!-- eto asiana image raha hanampy -->
    <div class="menu-text" [class.hide-header-text]="sideNavcollapsed()">
        <!-- mboarina taille/ mbola ovaina logo na sary voir tuto hide text -->
        <!-- <h1 [style.width.px]="getProfilePicSize()" [style.height.px]="getProfilePicSize()">ASSIGNEMENT</h1> -->
        <h1>ASSIGNEMENT</h1>
    </div>
</div>

<mat-nav-list>
    <a mat-list-item [routerLink]="'/home/:id'" routerLinkActive #rla1="routerLinkActive" [activated]="rla1.isActive">
        <mat-icon matListItemIcon>analytics</mat-icon>
        <span matListItemTitle>Liste des assignements</span>
    </a>
    <a mat-list-item [routerLink]="'/create'" routerLinkActive #rla2="routerLinkActive" [activated]="rla2.isActive">
        <mat-icon matListItemIcon>analytics</mat-icon>
        <span matListItemTitle>Ajout d'assignement</span>
    </a>
    <!-- <a mat-list-item>
        <mat-icon matListItemIcon>menu</mat-icon>
        <span matListItemTitle>menu</span>
    </a> -->


</mat-nav-list>


