<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavwidth()">
    <app-menu [collapsed]="collapsed"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavwidth()">    
    dashboars
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> 


  