
    @if(data.typeDonnee === "assignement"){
        <div class="image-card-container">
            <mat-card class="image-card">
              <!-- <img mat-card-image [src]="data.imageUrl" alt="Image"> -->
              <img mat-card-image src="assets/images/assi1.jpg" alt="Image">
            </mat-card>
          </div>
        <h2 mat-dialog-title>Details sur l'assignement</h2>
        <mat-dialog-content class="mat-typography">
        <h3>Titre-Promotion: {{assignement?.id_promotion}}</h3>
        <h3>Matière: {{assignement?.id_matiere}}</h3>
        <h3>Date de rendu: </h3>
        <h3>{{assignement?.Description}}</h3>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
        <button color="warn" mat-button mat-dialog-close>Fermer</button>
        <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
        </mat-dialog-actions>


    }
    @else{
        <div class="image-card-container">
            <mat-card class="image-card">
              <!-- <img mat-card-image [src]="data.imageUrl" alt="Image"> -->
              <img mat-card-image src="assets/images/eleve1.jpg" alt="Image">
            </mat-card>
          </div>
        <h2 mat-dialog-title>Contenu de l'assignement rendu par l'élève</h2>
        <mat-dialog-content class="mat-typography">
        <h3>Nom élève: {{eleve?.nom}} {{eleve?.prenom}}</h3>
        <h3>Promotion:{{eleve?.id_promotion}}</h3>
        <h3>eleve.</h3>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
        <button color="warn" mat-button mat-dialog-close>Fermer</button>
        <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
        </mat-dialog-actions>

    }
    
    
  

