<div cdkDropListGroup>
    <div class="example-container">
      <h2>Reçu</h2>
      <div
        cdkDropList
        id="cdk-drop-list-recu"
        [cdkDropListData]="getContenusSansNote()"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of getContenusSansNote()" cdkDrag>
          {{item.id_assignment}}  <br/>
        
          <button mat-button (click)="item.id_eleve ? openDialog(item.id_eleve) : null">Voir l'élève'</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Noté</h2>
      <div
        cdkDropList
        id="cdk-drop-list-notes"
        [cdkDropListData]="getContenusAvecNote()"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of getContenusAvecNote()" cdkDrag>
          {{item.id_assignment}} <br/>
          {{item.note}} <br/>
          <button mat-button (click)="item._id ? openDialog(item._id.toString()) : null">Voir l'éleve"'</button> 
        </div>
      </div>

    </div>
  </div>
  
  <div id="myModal" class="modal" #myModal>
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <form (ngSubmit)="onSubmit()">
        <label for="note">Note:</label>
        <input type="number" id="note" name="note" min="0" [(ngModel)]="noteAttribue" required>
        <input type="hidden" id="idContenu" name="idContenu" [(ngModel)]="idContenuAnoter">
        <label for="commentaire">Commentaire:</label>
        <input type="text" id="commentaire" name="commentaire" [(ngModel)]="commentaire">
        <button type="submit">Soumettre</button>
      </form>
    </div>
  </div>
  